CSS z-index Property
The z-index property specifies the stack order of an element.
An element with greater stack order is always in front of an element with a lower stack order.

img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
=======================================================================================================================================

The :nth-child selector allows you to select one or more elements based on their source order,

It is defined in the CSS Selectors Level 3 spec as a “structural pseudo-class”,
 meaning it is used to style content based on its relationship with parent and sibling elements.


structural pseudo-class :nth-child:
.module:nth-child(4n) {
  margin-right: 0;
}

=======================================================================================================================================

The :last-child selector allows you to target the last element directly inside its containing element.
p:last-child {
  font-size: 0.75em;
}

=======================================================================================================================================
Pseudo classes

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}
=======================================================================================================================================
CSS Pseudo-elements
The ::first-line pseudo-element is used to add a special style to the first line of a text.


p::first-line {
  color: #ff0000;
  font-variant: small-caps;
}

=======================================================================================================================================
Insert content after every <p> element, and style the inserted content:

p::after { 
  content: " - Remember this";
  background-color: yellow;
  color: red;
  font-weight: bold;
}
=======================================================================================================================================

CSS Symentic Layout
=======================================================================================================================================
CSS Grid Layout Module


=======================================================================================================================================
CSS Animations
=======================================================================================================================================
CSS Layout - The position Property
here are five different position values:

static
relative
fixed
absolute
sticky

slider
=======================================================================================================================================
How TO - Modal Images
carosuel
=======================================================================================================================================
setInterval
clearInterval

=======================================================================================================================================
get vs post
=======================================================================================================================================
Memory leak fix in js